<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.cjs.min.js"></script>
        <link rel="stylesheet" href="/static/libre/bootstrap.css">
        <link rel="stylesheet" href="/static/libre/fa.css">
        <link rel="stylesheet" href="/static/components/login/login.css">
        <script src="/static/libre/axios.js"></script>
        <script src="/static/libre/jquery.js"></script>
        <script src="/static/libre/bootstrap.js"></script>
        <script src="/static/dat/data.js"></script>
        <script src="/static/libre/util.js"></script>
    </head>
    <body>
        <div class="mt-5 Login col-lg-4 col-md-6 col-sm-12 offset-lg-4 offset-md-3 px-5 py-3">
            <form>
                <label>Username</label>
                <input class="form-control mb-3"
                  type="text"
                  id="username"
                >
                <label>Password</label>
                <input class="form-control mb-3"
                  type="password"
                  id="password"
                >
              <button class="my-2 w-100 btn btn-primary" block bssize="large" id="submit">
                Login
              </button>
      
              <br>
              <br>
              <a href="http://localhost:3000/register" class="my-5">Create account instead</a>
            </form>
          </div>
    </body>
    <script src="/static/components/login/login.js"></script>
</html>