<html>
    <head>
        <link rel="stylesheet" href="/static/libre/bootstrap.css">
        <link rel="stylesheet" href="/static/libre/fa.css">
        <link rel="stylesheet" href="/static/components/manage/manage.css">
        <link rel="stylesheet" href="/static/common/style.css">  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="/static/common/util.js"></script>
        <script src="/static/libre/axios.js"></script>
        <script src="/static/libre/jquery.js"></script>
        <script src="/static/libre/bootstrap.js"></script>
    </head>
    <body>
      <div id="orders" class="p-5">

      </div>
    </body>
    <script src="/static/components/manage/manage.js"></script>
</html>